<app-navetudiant></app-navetudiant>
<div class="container mt-4">
  <div class="form-group">
    <label for="semesterSelect">Choisissez un semestre:</label>
    <select class="form-control" id="semesterSelect" (change)="onSemesterChange($event)">
      <option selected disabled>Veuillez choisir un semestre</option>
      <option *ngFor="let semester of semesters" [value]="semester.id">{{ semester.label }}</option>
    </select>

  </div>
  <button class="btn btn-primary mt-2" (click)="fetchBulletin()">Afficher</button>

  <div *ngIf="bulletin" class="mt-4">
    <h3>Moyenne du Semestre: {{ bulletin.moyenneSem.toString().substring(0 ,5) }}</h3>
    <table class="table table-striped mt-3">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom de la Matière</th>
        <th scope="col">TP</th>
        <th scope="col">Projet</th>
        <th scope="col">Contrôle 1</th>
        <th scope="col">Contrôle 2</th>
        <th scope="col">Moyenne</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let note of bulletin.notes">
        <td>{{ note.nomMatiere }}</td>
        <td>{{ note.tp }}</td>
        <td>{{ note.projet }}</td>
        <td>{{ note.controle1 }}</td>
        <td>{{ note.controle2 }}</td>
        <td>{{ note.moyenne }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
