<app-nav></app-nav>
<div class="container mt-4">
  <!-- Notification -->
  <div *ngIf="notification" class="alert alert-{{notification.type}}" role="alert">
    {{ notification.message }}
  </div>
  <div class="row">
    <!-- Liste des matières -->
    <div class="col-md-6 mb-4">
      <h2>Liste des matières</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let matiere of matieres">
          {{ matiere.code }} - {{ matiere.label }}
        </li>
      </ul>
    </div>

    <!-- Formulaire pour ajouter de nouvelles matières -->
    <div class="col-md-6">
      <h2>Ajouter de nouvelles matières</h2>
      <form (submit)="ajouterMatiere()">
        <div class="form-group">
          <label for="code">Code :</label>
          <input type="text" class="form-control" id="code" [(ngModel)]="nouvelleMatiere.code" name="code" placeholder="Code" required>
        </div>

        <div class="form-group">
          <label for="label">Label :</label>
          <input type="text" class="form-control" id="label" [(ngModel)]="nouvelleMatiere.label" name="label" placeholder="Label" required>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Ajouter Matière</button>
      </form>
    </div>
  </div>
</div>
