<app-navetudiant></app-navetudiant>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-header bg-primary text-white">
          Bienvenue sur le tableau de bord enseignant
        </div>
        <div class="card-body">
          <h5 class="card-title">Bonjour, {{sessionStorage.getItem("userName")}} !</h5>
          <p class="card-text">Ceci est votre panneau d'etudiant où vous pouvez gérer l'application.</p>

        </div>
      </div>
    </div>
  </div>
</div>
