<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="semester">Semester:</label>
        <select class="form-control" id="semester" [(ngModel)]="selectedSemester">
          <option *ngFor="let semester of semesters" [value]="semester.id">{{ semester.label }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="class">Class:</label>
        <select class="form-control" id="class" [(ngModel)]="selectedClass" (change)="onClassChange()">
          <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.label }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="group">Group:</label>
        <select class="form-control" id="group" [(ngModel)]="selectedGroup" (change)="onGroupChange()">
          <option *ngFor="let group of groups" [value]="group.id">{{ group.nom }}</option>
        </select>
      </div>
    </div>
  </div>



  <table class="table table-striped">
    <thead>
    <tr>
      <th>Matière</th>
      <th>Enseigné par</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of tableData">
      <td>{{ data.matiere }}</td>
      <td>{{ data.enseignant }}</td>
    </tr>
    </tbody>
  </table>

  <button class="btn btn-success" (click)="openDialog()">
    Ajouter une ligne
  </button>

  <div class="modal fade show d-block" tabindex="-1" role="dialog" *ngIf="showModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter une matière</h5>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="matiere">Matière :</label>
            <select class="form-control" id="matiere" [(ngModel)]="selectedMatiere">
              <option *ngFor="let matiere of matieres" [value]="matiere.code">{{ matiere.label }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="enseignant">Enseignant :</label>
            <select class="form-control" id="enseignant" [(ngModel)]="selectedEnseignant">
              <option *ngFor="let enseignant of enseignants" [value]="enseignant.id">{{ enseignant.prenom +" " +enseignant.nom }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="save()">Enregistrer</button>
          <button type="button" class="btn btn-secondary" (click)="onNoClick()">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
