<!-- planification.component.html -->
<app-nav></app-nav>
<div>
  <h1>Formulaire de sélection</h1>
  <form (ngSubmit)="onSubmit()" #selectionForm="ngForm">
    <label for="semester">Semestre:</label>
    <select id="semester" required [(ngModel)]="selection.semester" name="semester" (change)="onSemesterChange()">
      <option *ngFor="let semester of semesters" [value]="semester">{{ semester }}</option>
    </select><br/>

    <label for="classe">Classe:</label>
    <select id="classe" required [(ngModel)]="selection.classe" name="classe" (change)="onClassChange()">
      <option *ngFor="let classe of availableClasses" [value]="classe">{{ classe }}</option>
    </select><br/>

    <label for="groupe">Groupe:</label>
    <select id="groupe" required [(ngModel)]="selection.groupe" name="groupe">
      <option *ngFor="let groupe of availableGroups" [value]="groupe">{{ groupe }}</option>
    </select><br/>

    <button type="submit">Sélectionner</button>
  </form>

  <div *ngIf="selectedSubjects.length > 0">
    <h2>Matières</h2>
    <ul>
      <li *ngFor="let subject of selectedSubjects">
        {{ subject.name }} - Enseigné par: {{ subject.teacher || 'Non assigné' }}
        <select (change)="onTeacherChange(subject, $event)">
          <option >-- Sélectionner un enseignant --</option>
          <option *ngFor="let teacher of teachers" [value]="teacher">{{ teacher }}</option>
        </select>
      </li>
    </ul>
  </div>
</div>
