<app-nav></app-nav>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 mb-4">
      <h2>Planification des matières</h2>
      <form>
        <div class="form-group">
          <label for="selectSemestre">Sélectionner le semestre :</label>
          <select class="form-control" id="selectSemestre" [(ngModel)]="semestre" name="selectSemestre">
            <option value="1">Semestre 1</option>
            <option value="2">Semestre 2</option>
          </select>
        </div>

        <div class="form-group">
          <label for="selectClasse">Sélectionner la classe :</label>
          <input type="text" class="form-control" id="selectClasse" [(ngModel)]="classe" name="selectClasse" readonly>
        </div>

        <div class="form-group">
          <label for="selectGroupe">Sélectionner le groupe :</label>
          <input type="number" class="form-control" id="selectGroupe" [(ngModel)]="groupe" name="selectGroupe">
        </div>

        <h3>Liste des matières pour la classe {{ classe }} et le groupe {{ groupe }}</h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let plan of planMatiere">
            {{ getMatiereEnseignants(plan) }}
          </li>
        </ul>

        <button type="button" class="btn btn-info mt-3" (click)="ajouterPlanMatiere()">Ajouter une nouvelle matière</button>
      </form>
    </div>
  </div>
</div>
