<app-nav></app-nav>

<div class="container mt-5">
  <!-- Display existing enseignants -->
  <div *ngIf="enseignants.length > 0" class="existing-enseignants mb-5">
    <h3>Liste des Enseignants</h3>
    <ul class="list-group">
      <li *ngFor="let enseignant of enseignants" class="list-group-item">
         {{ enseignant.fullName }}   - {{ enseignant.email }}
      </li>
    </ul>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="users">
      <div *ngFor="let user of users.controls; let i = index" [formGroupName]="i" class="user-form-group mb-3 border rounded p-3">
        <div class="form-group">
          <label for="prenom-{{i}}">Prenom:</label>
          <input type="text" id="prenom-{{i}}" formControlName="prenom" class="form-control">
        </div>
        <div class="form-group">
          <label for="nom-{{i}}">Nom:</label>
          <input type="text" id="nom-{{i}}" formControlName="nom" class="form-control">
        </div>
        <div class="form-group">
          <label for="email-{{i}}">Email:</label>
          <input type="email" id="email-{{i}}" formControlName="email" class="form-control">
        </div>
        <button type="button" class="btn btn-danger" (click)="removeUser(i)">Remove</button>
      </div>
    </div>
    <button type="button" class="btn btn-primary mt-3" (click)="addUser()">Plus</button>
    <br>
    <button type="submit" (click)="onSubmit()" class="btn btn-success mt-3">Submit</button>
  </form>
</div>
