<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Sélectionner une année universitaire</h2>
      <form>
        <div class="form-group">
          <label>Sélectionner une année universitaire:</label>
          <select class="form-control" [(ngModel)]="anneeSelectionnee" name="anneeUniversitaire" (change)="onAnneeChange()">
            <option value="" disabled selected>Veuillez sélectionner une année universitaire</option>
            <option *ngFor="let annee of anneesUniversitaires" [value]="annee">{{ parseInt(annee) - 1 }}/{{ annee }}</option>
          </select>
        </div>

        <div *ngIf="classes.length > 0">
          <h3>Liste des classes pour l'année {{ anneeSelectionnee }}</h3>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let classe of classes">
              {{ classe.niveau }} - {{ classe.specialite }} ({{ classe.groupes }} groupes)
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <h2>Ajouter une nouvelle classe</h2>
      <form class="form-inline">


        <div class="form-group mr-2">
          <label class="mr-2">Niveau:</label>
          <input type="text" class="form-control" [(ngModel)]="nouvelleClasse.niveau" name="niveau" placeholder="Niveau">
        </div>

        <div class="form-group mr-2">
          <label class="mr-2">Spécialité:</label>
          <input type="text" class="form-control" [(ngModel)]="nouvelleClasse.specialite" name="specialite" placeholder="Spécialité">
        </div>

        <div class="form-group mr-2">
          <label class="mr-2">Nombre de groupes:</label>
          <input type="number" class="form-control" [(ngModel)]="nouvelleClasse.groupes" name="groupes" placeholder="Nombre de groupes">
        </div>

        <button type="button" class="btn btn-primary" (click)="ajouterClasse()">Enregistrer</button>
      </form>
    </div>
  </div>
</div>
