<app-nav></app-nav>

<div class="container mt-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="classes">
      <div *ngFor="let class of classes.controls; let i = index" [formGroupName]="i" class="class-form-group mb-3 border rounded p-3">
        <div class="form-group">
          <label for="annee-{{i}}">Année Universitaire:</label>
          <input type="text" id="anneeUniversitaire-{{i}}" formControlName="annee" class="form-control">
        </div>
        <button *ngIf="!anneeUniversitaireSelected[i]" type="button" class="btn btn-primary mt-3" (click)="selectAnneeUniversitaire(i)">Sélectionner</button>

        <div *ngIf="anneeUniversitaireSelected[i]">
          <div class="form-group">
            <label for="niveau-{{i}}">Niveau:</label>
            <select id="niveau-{{i}}" formControlName="niveau" class="form-control">
              <option value="1">1ère année</option>
              <option value="2">2ème année</option>
              <option value="3">3ème année</option>
              <option value="4">4ème année</option>
              <option value="5">5ème année</option>
            </select>
          </div>
          <div class="form-group">
            <label for="specialite-{{i}}">Spécialité:</label>
            <select id="specialite-{{i}}" formControlName="specialite" class="form-control">
              <option value="IIR">IIR</option>
              <option value="Finance">Finance</option>
              <option value="Industriel">Industriel</option>
            </select>
          </div>
          <div class="form-group">
            <label for="groupe-{{i}}">Groupe:</label>
            <select id="groupe-{{i}}" formControlName="groupes" class="form-control">
              <option value="1">Groupe 1</option>
              <option value="2">Groupe 2</option>
              <option value="3">Groupe 3</option>
              <option value="4">Groupe 4</option>
              <option value="5">Groupe 5</option>
              <option value="6">Groupe 6</option>
              <option value="7">Groupe 7</option>
              <option value="8">Groupe 8</option>
              <option value="9">Groupe 9</option>
              <option value="10">Groupe 10</option>
              <option value="11">Groupe 11</option>
              <option value="12">Groupe 12</option>
            </select>
          </div>
          <button type="button" class="btn btn-danger" (click)="removeClass(i)">Remove</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary mt-3" (click)="addClass()">Add Class</button>
    <button type="submit" class="btn btn-success mt-3">Submit</button>
  </form>
</div>
